/* App.css */
.App {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 20px;
}

.product-page, .admin-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(5, 250px); /* 5 columns per row */
  gap: 20px;
  margin-bottom: 40px;
}

.product-card {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ddd;
  width: 250px;
  height: 350px;
  padding: 10px;
  text-align: center;
  box-sizing: border-box;
  transition: transform 0.2s ease-in-out;
}

.product-card:hover {
  transform: scale(1.05);
}

.product-details {
  padding: 20px;
  border: 1px solid #ddd;
  width: 300px;
  text-align: left;
  margin-top: 20px;
}

.product-details img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

h1, h2 {
  font-size: 2em;
  margin-bottom: 20px;
}
.Product-h1{
font-size: 45px;
font-weight: bold;
}

.admin-panel .edit-form {
  padding: 20px;
  border: 1px solid #ddd;
  width: 400px;
  text-align: left;
}

.admin-panel form div {
  margin-bottom: 10px;
}

.admin-panel input, .admin-panel textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
}

button {
  padding: 10px 15px;
  margin: 10px 0;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
